*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.headerd{

}
.header{
    background-image: url(../images/banner/banner1.png);
    /* height: 808px; */
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
    /* background-position: center; */
}

.header-info{
    margin-left: 55%;
    width: 494px;
    text-align: right;
    padding-right: 250px;
    padding-top: 216px;
}

.header-title{
    color:#151414;
    text-align: right;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
}
.header-description{
    text-align: right;
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.btn{
    padding: 15px 20px;
    margin-top: 30px;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    border: 0;
}

/* main images parts */

.container{
    margin-top: 70px;
    gap: 100px;
    display: flex;
    justify-content: center;
}

.image {
    margin-top: 100px;
    background-color: indianred;
    border-radius: 70%;
    background-position:center;
}

img{


}
.containar-info-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    
}

.containar-info-des{
    margin-top: 24px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.tick-info p{
    margin-top: 16px;
}
.containar-info{
    padding-top: 15%;
    width: 500px;
}

/* My plans parts */

.plans{
    margin-top: 100px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.plans-container{
    margin-top: 55px;
    display: flex;
    justify-content: center;
    gap: 98px;
    text-align: center;
}
.want-to{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 16px;
}
.plans-title{
    margin-top: 18px;
}


.contants{
    width: 1140px;
    margin: auto;
    border-radius: 8px;
    margin-top: 80px;
    background-position: center;
    background-image: url(../images/gradient3.png) ,url(../images/watch.png);
    background-repeat: no-repeat;
    /* padding: 50px 100px; */
    
}
.contant-info{
    padding: 30px;
    margin-left: 10%;
}

.contant-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.btton{
    padding: 15px 20px;
    color: #F15B22;
    background-color: #FFF;
    border: 0;
    border-radius: 3px;
    margin-top: 24px;
}

/* footer part */
.footer-container {
    margin-top: 130px;
    display: flex;
    width: 100%;
    gap: 20%;
    background-color: #151414;
    justify-content: center;
    padding: 130px 0;
}

.footer-container-dis{
    color: #FFF;
}
.footer-pera{
    width: 485px;
    margin-top: 16px;
}
.icons{
    margin-top: 32px;
}
.icons img{
    margin-right: 10px;
}

.footer-input{
    color: #FFF;
}
input[type="email"]{
    color:  #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    background-color: #060000;
    width: 325px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 30px;
}

.sub-btn{
    padding: 15px 35px;
    margin-top: 20px;
    color: #fa4f0b;
}